{% extends 'base.html' %}

{% block content %}

<div class="jumbotron jumbotron-fluid" style="background-color: rgba(0, 0, 0, 0.05);">
  <div class="container">
    <h1 class="display-4">Criptcha Noticias</h1>
    <p class="lead">Información actualizada sobre Cripto Monedas y Blockchain.</p>
  </div>

  <br/>

<table class="table table-striped table-bordered table-hover">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Precio</th>
            <th scope="col">Alto</th>
            <th scope="col">Bajo</th>
            <th scope="col">Capitalización</th>
        </tr>
    </thead>
    <tbody>

{% for key,value in price.DISPLAY.items %}
   



    
        <tr>
            <td>{{ key }}</td>
            <td>{{ value.USD.PRICE }}</td>
            <td>{{ value.USD.HIGHDAY }}</td>
            <td>{{ value.USD.LOWDAY }}</td>
            <td>{{ value.USD.MKTCAP }}</td>

        </tr>
{% endfor %}

    </tbody>

  
</table>


<br/><br/>



</div>
<br/>

<div class="container">
    <div class="row">
        {% for x in api.Data %}
            <div class="col-sm">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{{ x.imageurl }}" alt="{{ x.source}}">
                <div class="card-body">
                <h5 class="card-title">{{ x.title }}</h5>
                <!--<p class="card-text">{{ x.body }}</p>-->
                <a href="{{ x.url }}" class="btn btn-secondary">Leer más...</a>
            </div>
           </div>
        <br/>
        </div>
        {% endfor %}
    </div>
</div>






    


{% endblock %}